		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon1">E-mail of loved one</span>
		  <input type="text" id="loved" name="loved" class="form-control" placeholder="email" aria-describedby="basic-addon1">

		</div>


		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon1">E-mail of nurse</span>
		  <input type="text" id="nurse" name="nurse" class="form-control" placeholder="email" aria-describedby="basic-addon1">
		</div>

