		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon1">Goal</span>
		  <input type="text" id="eventtitle" name="eventtitle" class="form-control" placeholder="ex. Monitor blood sugar" aria-describedby="basic-addon1">

		</div>


		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon1">Reason</span>
		  <input type="text" id="category" name="category" class="form-control" placeholder="ex. Monitor blood sugar" aria-describedby="basic-addon1">
		</div>

		<input type="hidden" id="goal-id" name="goal-id" value="-1"/>
<!--
		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon1">Remind me</span>
			<select id="reminders" name="reminders" class="form-control">
				<option value="day">Every Day</option>
				<option value="2days">Every Other Day</option>
				<option value="week">Every Week</option>
			</select>
		</div>

		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon1">At</span>
		  <input type="text" id="remindtime" name="remindtime" class="form-control" placeholder="HH:MM" aria-describedby="basic-addon1">
		</div>
-->