<html>
<% include header %>

<%
	var username = 'Undefined User';
	if (user.local.email) { 
		username = user.local.name;
	} else if (user.facebook.token) {
		username = user.facebook.name;
	}
%>

<h2> Welcome <%=username%> ! </h2>

<h3>Current Events: </h3>
<% if (user.events.length > 0) { %>
	<table> 
		<thead> <tr> 
			<th> Title </th> <th> Date </th> <th> Details </th>	
		</tr> </thead>
		<tbody>
		<% for (var e in user.events){
			if (user.events[e].title){
				if (user.events[e].dateEnd === undefined){
			%>
				<tr>
					<td><a class="details" event=user.events[e] href="#">
					<%=user.events[e].title%>
					</a></td> 	
					<td><%=user.events[e].dateAdded%></td>
				</tr>
		<% 		}
			}
		} %>
		</tbody>
	</table>
<%
// TODO: way to see full timeline?
} else { %>
	No events yet! Add a new event below.
<%} %>

<h3>Add a new event:</h3>
<form action="/addevent" method="post">
	<label>Goal title:
		<input type="text" id="eventtitle" name="eventtitle" class="form-control">
	</label>
	<label>Reason:
		<input type="text" id="category" name="category" class="form-control">
	</label>
	<label>Remind me:
		<select id="reminders" name="reminders">
			<option value="day">Every Day</option>
			<option value="2days">Every Other Day</option>
			<option value="week">Every Week</option>
		</select>
	</label>
	<label> at time
		<input type="text" id="remindtime" name="remindtime" class="form-control">
	</label>
	<label>Comments:
		<input type="text" id="comments" name="comments" class="form-control">
	</label>
	<input type="submit" value="Add event">
</form>


</html>