<html>
<% include header %>

<style type="text/css">
	.right-panel { border-right: 1px solid #999; height:100%; background-color:#eee;}
	.right-panel h2 {color:#ccc;}
</style>

<div class="container-fluid">
<div class="row">
<div class="col-sm-2 right-panel">
	<%
		var username = 'Undefined User';
		if (user.local.email) { 
			username = user.local.name;
		} else if (user.facebook.token) {
			username = user.facebook.name;
		}
	%>

	<h2> Welcome <%=username%> </h2>
</div>
<div class="col-sm-10">

	<% if (user.events.length > 0) { %>
		<table class="table table-hover"> 
			<thead> <tr> 
				<th> Title </th> <th> Date </th> <th> Details </th>	
			</tr> </thead>
			<tbody>
			<% for (var e in user.events){ 
				if (user.events[e].title){	%>
				<tr>
					<td><a class="details" event=user.events[e] href="#">
					<%=user.events[e].title%>
					</a></td> 	
					<td><%=user.events[e].dateAdded%></td>
				</tr>
			<% }
			} %>
			</tbody>
		</table>
	<%
	} else { %>
		No events yet! Add a new event below.
	<%} %>




	<form action="/addevent" method="post">

		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon1">New Goal</span>
		  <input type="text" id="eventtitle" name="eventtitle" class="form-control" placeholder="ex. Monitor blood sugar" aria-describedby="basic-addon1">

		</div>



	<label>Reason:
		<input type="text" id="category" name="category" class="form-control">
	</label>
	<label>Remind me:
		<select id="reminders" name="reminders">
			<option value="day">Every Day</option>
			<option value="2days">Every Other Day</option>
			<option value="week">Every Week</option>
		</select>
	</label>
	<label> at time
		<input type="text" id="remindtime" name="remindtime" class="form-control">
	</label>
	<label>Comments:
		<input type="text" id="comments" name="comments" class="form-control">
	</label>
		
		<div style="text-align:right;margin-top:5px">
		<input class="btn btn-primary" type="submit" value="Add event">
		</div>
	</form>

	</div>
</div>
</div>

</html>