<html>
	<form action="/signup" method="post">
		<label>Full name: 
			<input type="text" id="name" name="name" class="forminput" placeholder="First Last">
		</label>

		<label>E-mail address: 
			<input type="text" id="email" name="email" class="forminput" placeholder="Email">
		</label>
		<label>Password: 
			<input type="password" id="password" name="password" class="forminput" placeholder="Password">
		</label>
		<input type="submit" value="Sign up">
	</form>

</html>