	<style>
	.log_in input {margin-bottom:5px;}
	</style>
	<h2 style="color:#777">Create an Account</h2>
	<form action="/login" method="post" class="log_in">

        <input type="text" id="name" name="name" class="form-control" placeholder="Name" required autofocus>

        <input type="text" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
        
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>


	</form>

